@media print {
  body * {
    visibility: hidden;
  }

  #invoice, #invoice * {
    visibility: visible;
  }

  #invoice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

/* nice thin scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
}